<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Mi Portafolio online</title>
		<meta charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../statics/css/normalize.css">
		<link rel="stylesheet" href="../statics/css/estilos.css">
	</head>
	<body>
		<header id="yo" class="header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#yo">Yo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#perfil">Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#trabajo">Trabajo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#contacto">Contacto</a>
					</li>
				</ul>
			</nav>
			<figure class="Header-imageContainer">
				<img src="../statics/imagenes/avatar.jpg" alt="Imagen personal" class="Header-image" />
				<figcaption class="Header-imageDescription">
				<p class="Header-link">Juan Jose Castro</p>
				</figcaption>
				<a class="Header-name" href="https://twitter.com/Roku_Isuppose" target="_blank">@Roku_Isuppose</a>
			</figure>
		</header>
		<section id="perfil" class="Profile">
			<h2 class="Profile-title u-title">Mi perfil</h2>
			<p class="Profile-description">
				¿Qué tal? Ya que has llegado hasta aquí puedes observar mi portafolio y contactarme. Gracias.
			</p>
			<a class="Profile-linkTwitter" href="https://twitter.com/Roku_Isuppose" target="_blank">@Roku_Isuppose</a>
			<a class="Profile-linkFacebook"href="https://www.facebook.com/jurosolennementequemisintencionesnosonbuenas" target="_blank">Juan José Castro</a>
			<a class="Profile-linkGitHub" href="https://github.com/RokuJose" target="_blank">Juan José Castro</a>
		</section>
		<section id="trabajo" class="Work">
			<h2 class="Work-title u-title">Mi trabajo</h2>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../statics/imagenes/proyecto.jpg" alt="Es la descripción de la imagen">
					<figcaption class="Work-description" >Website de Mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../statics/imagenes/proyecto.jpg" alt="Es la descripción de la imagen">
					<figcaption class="Work-description" >Website de Mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../statics/imagenes/proyecto.jpg" alt="Es la descripción de la imagen">
					<figcaption class="Work-description" >Website de Mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../statics/imagenes/proyecto.jpg" alt="Es la descripción de la imagen">
					<figcaption class="Work-description" >Website de Mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../statics/imagenes/proyecto.jpg" alt="Es la descripción de la imagen">
					<figcaption class="Work-description" >Website de Mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../statics/imagenes/proyecto.jpg" alt="Es la descripción de la imagen">
					<figcaption class="Work-description" >Website de Mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../statics/imagenes/proyecto.jpg" alt="Es la descripción de la imagen">
					<figcaption class="Work-description" >Website de Mejorando.la</figcaption>
				</figure>
			</article>		
		</section>
		<footer id="contacto" class="Footer">
			<div class="Footer-left">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Hola, si tienes alguna sugerencia, critica constructiva, o simplemente quieres contactarme, haz uso de este formulario.</p>
			</div>
			<form class="Footer-form">
				<input class="Footer-formInput"type="text" placeholder="Nombre"/>
				<input class="Footer-formInput"type="email" placeholder="Email"/>
				<textarea class="Footer-textarea"placeholder="Motivo"></textarea>
				<button class="Footer-button">Contáctame</button>
			</form>
		</footer>
	</body>
</html>